# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap# XcodeYamlizer
iHubot/ViewController.xib
iHubot/iHubot.xcdatamodeld/iHubot.xcdatamodel/contents
iHubot.xcodeproj/project.pbxproj
# end
# XcodeYamlizer
iHubot/iHubot.xcdatamodeld/.xccurrentversion
# end
