[submodule "Vendor/CocoaPlant"]
	path = Vendor/CocoaPlant
	url = https://github.com/acani/CocoaPlant.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/UIDevice-with-UniqueIdentifier-for-iOS-5"]
	path = Vendor/UIDevice-with-UniqueIdentifier-for-iOS-5
	url = https://github.com/gekitz/UIDevice-with-UniqueIdentifier-for-iOS-5.git
[submodule "Vendor/UIBubbleTableView"]
	path = Vendor/UIBubbleTableView
	url = https://github.com/AlexBarinov/UIBubbleTableView.git
[submodule "Vendor/SDWebImage"]
	path = Vendor/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "Vendor/OLImageView"]
	path = Vendor/OLImageView
	url = https://github.com/ondalabs/OLImageView.git
