[submodule "Vendor/CocoaPlant"]
	path = Vendor/CocoaPlant
	url = https://github.com/acani/CocoaPlant.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/UIDevice-with-UniqueIdentifier-for-iOS-5"]
	path = Vendor/UIDevice-with-UniqueIdentifier-for-iOS-5
	url = https://github.com/gekitz/UIDevice-with-UniqueIdentifier-for-iOS-5.git
